.client-list {
    border: 0.2rem solid whitesmoke ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 1.5rem;
}

.client-delivery {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.client-info {
    width: 30%;
    display: flex;
    gap: 20px;
}

.order-state {
    width: 10%;
    text-align: center;
}

.client-address {
    width: 30%;
    text-align: center;
}

.order-expected-time {
    width: 18%;
    text-align: center;
}

.order-actions {
    width: 12%;
    text-align: center;
}

.state-circle {
    background-color: #000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.state-circle.green {
    background-color: #36DF84;
}
.state-circle.orange {
    background-color: #FFAC0C;
}